@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 150vh;
}
.bg {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/blog-5addf.appspot.com/o/images%2Fretro-living-room-interior-design.jpg?alt=media&token=0a03bd0f-2d81-4499-a2df-38fcfbfdd690");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  clip-path: circle(180vh at 50% -80vh);
}

.filter-gray {
  filter: grayscale(100%) opacity(60%);
}

.filter-gray:hover {
  filter: grayscale(0) opacity(100%);
}
/* .bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100vh;
  height: 100vh;
  background: #000;
  border-radius: 50%;
  transform-origin: bottom;
  transform: translateX(-50%) scale(4);
} */

.font {
  font-family: "Ubuntu", sans-serif;
}

.cardImg::before {
  content: "";
  height: 35%;
  width: 100%;
  background-image: linear-gradient(to top, #000, transparent);
  opacity: 80%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.bg-font {
  font-family: "Dancing Script", cursive;
}

.footerBg {
  content: "";
  background: linear-gradient(to top, #082f49ef, #082f49ef),
    url("https://www.templates.sokowave.com/houslisti/img/blog/footer-bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
